body{
    background-color: #e8feff;
    height: 100%;
}

hr{
    border: 0;
    height: 1px; /* Aumento del grosor de la línea */
    background-color: #333; /* Color más oscuro */
    opacity: 0.8; /* Opacidad ligeramente aumentada */
}

.bgnav{
    background-color: #5b707e;
}

.dropdown-item:hover{
    background-color: #acfaff;
}

.transparent_btn{
    background-color: transparent;
    border: none;
}


#barMenu{
    font-size:x-large;
    color: white;
}

#left_sidebar{
    background-color: #d6f2eb;
    height:100vh;
}

#right_sidebar{
    display: none;
    height:100vh;
    background-color: aqua;
    border-radius: 2%;
}

.bg-login{
    background-color: #92a5a0;
}

.bg-login-body{
    background-color: #d6f2eb;
}

.bg-registro{
    background-color: #5b707e;
}

.bg-registro-body{
    background-color: #92b4ca;
}

.sidebar-item {
    margin-bottom: 10px; 
}
.imageCarousel{
    height: 200px;
    width: 500px;
}

.CarouselContainment{
    align-self: center;
}

.card-img{
    width: 30vh;
    height: 30vh;
}

.cardBody{
    border-radius: 10%;
    background-color: white;
}

.cardBody:hover{
    background-color: #dbf1f2;
}

.cardTitle{
    margin-left:31vh;
    position:absolute;
    white-space: nowrap;

}
.cardText{
    margin-top: 6vh;
    margin-left:31vh;
    position:absolute;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}
.whitespace{
    height: 3vh;;
}

.card-img-preview{
    width:inherit;
    height: 30vh;
}

.header_element{
    margin-left: 5vh;
}

.btn-trans{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    margin-right: 10px;
}

.btn-trans:hover:disabled{
    background-color: #346373;
}

.btn-trans:hover{
    background-color: #acfaff;
}

.user_comment_photo{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}

.comentarioInput{
    border: 2px solid #5b707e;
    background-color: #acfaff;
}

#cancel{
    display: none;
}

#ConfirmChanges{
    display: none;
}


#number_of_likes{
    margin-left: 10px;
}
